<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylsk.mapper.UserLoginTrackMapper">
	<!-- 保存实体 -->
	<insert id="save">
		insert into tb_user_login_track (user_id,login_time) values (#{user_id},#{login_time})
	</insert>
</mapper>